.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 35px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: #6751c1;
  border-right: 1px solid #cccccc;
  outline: none;
  cursor: pointer;
}

.arrow {
  width: 15px;
  height: auto;
  margin-top: 5px;
  margin-left: 5px;
  color: #fff;
  fill: #fff;
}