
.root {
  min-width: 350px;
  overflow: scroll;
  box-shadow: 0px 4px 18px -4px rgba(0, 0, 0, 0.75);
}

.placeholder {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: #f00000;
}

.tableHeader {
  display: flex;
}

.tableRow {
  display: flex;
  outline: none;
  min-height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
}

.tableRowClicked {
  background-color: rgba(103, 81, 193, 0.25);
}

.tableCell {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  font-size: 14px;
  border: 0;
  border-right: 1px solid #cccccc;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  word-break: break-all;

  &:last-of-type {
    border-right-width: 0;
  }
}